@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "daisyui";

#container {
    max-width: 720px;
    width: 100%;
}

@theme {
    --font-sans: "Poppins", "ui-sans-serif", "system-ui", "-apple-system",
        "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif;
}
